<section>
  <div class="container section-title">
    <h2>Sobre mí</h2>
    <p>
      Hola soy Jorge y tengo 24 años. Me considero una persona extrovertida, social, alegre y autodidacta. Me gusta el trabajo en equipo y relacionarme con mis compañeros para aprender de ellos. Soy una persona que me gusta aprender y siempre estoy abierto a descubrir nuevas tecnologías. Pienso que puedo aportar buena vibra al trabajo y ser un buen compañero de equipo.
    </p>
  </div>
  <div class="container col-lg-12">
    <div class="row">
      <div class="col-lg-6">
        <ul>
          <li><i class="bi bi-chevron-right"></i> <label>Nacimiento:</label> <span>24 Dic 2000</span></li>
          <li><i class="bi bi-chevron-right"></i> <label>Teléfono:</label> <span>+34 639 981 491</span></li>
          <li><i class="bi bi-chevron-right"></i> <label>Tiempo experiencia:</label> <span>Alrededor de 3 años</span></li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul>
          <li><i class="bi bi-chevron-right"></i> <label>Edad:</label> <span>24</span></li>
          <li><i class="bi bi-chevron-right"></i> <label>Email:</label> <span>jorgerocamorabas&#64;gmail.com</span></li>
          <li><i class="bi bi-chevron-right"></i> <label>Ciudad:</label> <span>Valencia (Capital)</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>