@use '../../assets/variables.scss' as var;

.skills-content ul {
  margin-top: 1.5rem;
  list-style: none;

  li::before{
    content: ">";
    color: #C5A24A;
    margin-right: 1.5rem;
  }
}

.skills-content p {
  font-size: 0.9rem;
  margin-left: 2rem;

  &::before {
    content: "* ";
    color: #C5A24A;
    font-size: 1rem;

  }
}