<section>

  <div class="container section-title">
    <h2>Carrera laboral y estudios</h2>
    <div class="row">

      <div class="col-lg-6">
        <h3 class="resume-title">Experiencia Profesional</h3>
        <div class="resume-item">
          <h4>Desarrollador FullStack</h4>
          <h5>Dic. 2024 - Feb. 2025</h5><em>PageGroup - Allfunds</em>
          <p>AngularJS, Jade, CSS, Bootstrap, NodeJS, MongoDB, Git, Docker, Ubuntu / Ubuntu Server</p>
          <ul>
            <li>Maquetación de interfaces responsives con Jade y CSS para vistas en web y móviles.</li>
            <li>Creación de gráficas interactivas mediante HighCharts.</li>
            <li>Desarrollo de nuevos endpoints en el backend para la integración de datos con el frontend.</li>
            <li>Gestión y modificación de colecciones en MongoDB; desarrollo de scripts en JavaScript para la encriptación de datos utilizando MongoSH.</li>
            <li>Implementación de Redis con Docker Compose para su integración en futuros proyectos.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Desarrollador FullStack</h4>
          <h5>Jul. 2022 - Dic. 2024</h5><em>Ubik Geospatial Solutions</em>
          <p>Angular, Redux, Jasmine Karma NodeJS, PostgreSQL, Ubuntu Server, Git, Java Springboot, SCSS, Bootstrap, Docker, Docker compose</p>
          <ul>
            <li>Diseño e implementación de backend y base de datos en PostgreSQL con NodeJS y ORM Sequelize.</li>
            <li>Desarrollo de endpoints, controladores y middlewares en ExpressJS con autenticación JWT.</li>
            <li>Maquetación y desarrollo frontend con HTML y SCSS.</li>
            <li>Implementación de la lógica de componentes y consumo de datos mediante observables y Redux.</li>
            <li>Creación de un proyecto desde cero en Java Spring Boot, estructurado en microservicios y autenticado mediante JWT.</li>
            <li>Desarrollo de pruebas unitarias con JUnit y Mockito. Tambien en Jasmine y Karma.</li>
            <li>Instalacion y configuracion de servicios en Ubuntu Server 22</li>
            <li>Despliegue de versiones a producción</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Desarrollador Frontend (Prácticas)</h4>
          <h5>Mar. 2022 - Jun. 2022</h5><em>Cointec Spain</em>
          <p>Angular, Delphi, Git</p>
          <ul>
            <li>Desarrollar en Angular las nuevas vistas y logicas de los componentes de la pagina principal y el login.</li>
            <li>Mantenimiento en base a los tickets del cliente de una app de Delphi programando la logica y modificando vistas</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Desarrollador FullStack (Prácticas)</h4>
          <h5>Mar. 2021 - Jun. 2021</h5><em>InfoExpo</em>
          <p>Laravel, Java</p>
          <ul>
            <li>Desarrollo de endpoints en Laravel.</li>
            <li>Modificar modelos en base al ORM de Laravel; Eloquent</li>
            <li>Desarrollar logica y vista de distintos modelos de informes en Java con JasperSoft</li>
          </ul>
        </div>

      </div>

      <div class="col-lg-6">

        <h3 class="resume-title">Estudios</h3>
        <div class="resume-item">
          <h4>Desarrollo de Aplicaciones Web (DAW)</h4>
          <h5>Sep. 2021 - Jun. 2022</h5><em>EFA El Campico</em>
          <ul>
            <li>Angular: NodeJs, TypeScript, componentes, llamadas API REST, Observables, Bootstrap</li>
            <li>Laravel: creacion de modelos, seeds, endpoints, ELOQUENT</li>
            <li>Git y Docker</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Desarrollo de Aplicaciones Multiplataforma (DAW)</h4>
          <h5>Sep. 2019 - Jun. 2021</h5><em>EFA El Campico</em>
          <ul>
            <li>Creacion de videojuegos en Unity C#</li>
            <li>Aplicaciones moviles en Java y Kotlin con Android Studio</li>
            <li>Proyecto web en Ionic</li>
            <li>Java</li>
            <li>Sentencias SQL, triggers, funciones, relaciones</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Sistemas Microinformaticos y Redes</h4>
          <h5>Sep. 2017 - Jun. 2019</h5><em>EFA El Campico</em>
          <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Instalacion y configuracion de diversos servicios en Ubuntu Server y Windows Server</li>
            <li>Active Directory</li>
            <li>Wordpress, Moodle, PrestaShop</li>
            <li>Teorias y practica sobre infraestructura de las redes</li>
            <li>Reparacion de ordenadores</li>
          </ul>
        </div>

      </div>


    </div>
  </div>

</section>