//Fonts

$default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Raleway",  sans-serif;
$nav-font: "Poppins",  sans-serif;

//Global colors

$background-color: #ffffff;
$h2-color: #E6C36B;
$h2-border-color: #5BC0DE;
$h3-color: #C5A24A;
$default-color: #272829;

$accent-color: #149ddd;
$surface-color: #ffffff;
$contrast-color: #ffffff;

$nav-color: #a8a9b4; 
$nav-hover-color: #ffffff;
$nav-mobile-background-color: #040b14;
$nav-dropdown-background-color: #040b14;
$nav-dropdown-color: #a8a9b4;
$nav-dropdown-hover-color: #ffffff;